html, body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  /*font-size: 100px;*/
  /*background: #aaa;*/
  color: #eee;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  width: 40%;
  height: 0;
  padding: 0;
}
.list-group{
  margin-left: 10%;
}
.list-group-item {
  background-color: transparent;
  border: none;
}

.parallax-bg {
  background: url("../images/star4.jpg");
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 150%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  font-size: 5em;
  font-weight: bold;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}

.navbar-default {
  position: absolute;
  z-index: 2;
  width: 100%;
  background-color: rgba(238, 238, 238, .9);
}

#particles-js {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.slider-1 .box {
  /*margin-top: 80px;*/
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 70%;
  position: relative;
  opacity: 0;
}

.slider-1 .box img {
  display: block;
  width: 50%;
  height: 50%;
  border-radius: 100%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

#down-arrow{
  font-size: 2em;
  position: absolute;
  top: 100px;

}
.lines, .line-text {
  position: absolute;
  left: 30%;
  top: 30%;
}

.line1, .line2, .line3, .line4, .line5, .line6, .line7 {
  display: block;
  position: absolute;
  background-image: url("../images/line-bg1.png");
  /*opacity: 0;*/
}

.slider-1 .line1 {
  width: 289px;
  height: 47px;
  left: -258px;
  top: 0;
}

.slider-1 .line2 {
  width: 315px;
  height: 42px;
  left: 247px;
  top: 0;
  background-position: 0 -47px;
}

.slider-1 .line3 {
  width: 231px;
  height: 47px;
  left: -264px;
  top: 122px;
}

.slider-1 .line4 {
  width: 273px;
  height: 47px;
  left: -264px;
  top: 236px;
  background-position: 0 -94px;
}

.slider-1 .line5 {
  width: 289px;
  height: 47px;
  left: 274px;
  top: 239px;
  transform: rotateY(180deg) rotateX(180deg);
}

.slider-1 .line6 {
  width: 233px;
  height: 40px;
  left: 326px;
  top: 156px;
  transform: rotateY(180deg);
}

.text1, .text2, .text3, .text4, .text5, .text6 {
  position: absolute;
  width: 250px;
  text-align: left;
}

.slider-1 div.text1 {
  left: -250px;
  top: 10px;
}

.slider-1 div.text2 {
  left: 350px;
  top: 15px;
}

.slider-1 div.text3 {
  left: -250px;
  top: 130px;
}

.slider-1 div.text4 {
  left: -250px;
  top: 250px;
}

.slider-1 div.text5 {
  left: 350px;
  top: 295px;
}

.slider-1 div.text6 {
  left: 350px;
  top: 170px;
}

.textarea {
  background: none;
  text-align: center;
  border: none;
  height: 150px;
  width: 600px;
}

.slider-5 .subtitle {
  text-align: left;
}

#myRadar {
  width: 50%;
  height: 70%;
  margin-left: -10%;
}

.ball-parent {
  position: relative;
  opacity: 0;
}

#ball a {
  position: absolute;
  text-decoration: none;
  color: #999;
}

#ball a:hover {
  color: #fff;
}

#ball canvas {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 0;
}

#ball {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto
}

.timeline {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  position: relative;

}


.diolog1,.diolog2,.diolog3,.diolog4{
  position: absolute;
}
.diolog1{
  top: 0px;
  left: 0px;
}

.slider-2 .front, .back {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;

}

.slider-2 .front {
  /*background: #ff8936;*/
  backface-visibility: hidden;
  border-radius: 100%;

}

.slider-2 .back {
  /*background-color:#fffbf0;*/
  backface-visibility: hidden;
  transform: rotateY(180deg);
  border-radius: 100%;
}

.slider-2 .parent1, .slider-2 .parent2, .slider-2 .parent3, .slider-2 .parent4 {
  width: 240px;
  height: 240px;
  box-sizing: border-box;
  position: relative;
  border-radius: 100%;
  border: 20px solid #d6ecf0;
  float: left;
  cursor: pointer;
  margin: 20px;
}

.slider-2 .back-text, .front-text {
  position: absolute;
  color: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 50px;
  font-size: 1em;
}

.slider-2 .parent1 {
  border-color: #ff7500;
}

.parent1 .front, .parent1 .back {
  background-color: #ff8936;
}

.slider-2 .parent2 {
  border-color: #16a951;
}

.parent2 .front, .parent2 .back {
  background-color: #21a675;
}

.slider-2 .parent3 {
  border-color: #f00056;
}

.parent3 .front, .parent3 .back {
  background-color: #ff4777;
}

.slider-2 .parent4 {
  border-color: #065279;
}

.parent4 .front, .parent4 .back {
  background-color: #177cb0;
}
.slider-4{
  text-align: left;
}

